@import 'base/base';

body {
  margin: 0;
  background-color: $background;
  color: $text-color;
  font-family: $font-family;
  font-size: 18px;
}

.split-view {
  display: flex;
}


@import 'components/base';
@import 'components/weather';
@import 'components/coffee';
@import 'components/brew';

*::-webkit-scrollbar {
  /* This is the magic bit */
  display: none !important;
}
