@import '../base/base';

.weather {
  width: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: $background;
  color: $text-color;

  & > section {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100vh;
    width: 100%;
    overflow: auto;

    background-size: cover;
    background-repeat: no-repeat;



    @function weather-image($image-id) {
       @return linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url( 'https://source.unsplash.com/' + $image-id + '/600x680');
    }

    &.clear-day {
      background-image: weather-image('f3s9JUjahhs');
    }

    &.clear-night {
      background-image: weather-image('8weijaL92T8');
    }

    &.rain {
      background-image: weather-image('vg6zo_GJf1k');
    }

    &.snow {
      background-image: weather-image('F3ePNdQb_Lg');
    }

    &.sleet {
      background-image: weather-image('wLn_6Y4j7EY');
    }

    &.wind {
      background-image: weather-image('kmF_Aq8gkp0');
    }

    &.fog {
      background-image: weather-image('x9RN-ZIzkf0');
    }

    &.cloudy {
      background-image: weather-image('auMjWDfTFhI');
    }

    &.partly-cloudy-day {
      background-image: weather-image('Fxi1FPvbPa0');
    }

    &.partly-cloudy-night {
      background-image: weather-image('J4aLKW3T0FE');
    }

    &.no-bg-image {
      background-color: black;
    }
  }

  .temp {
    padding: 1em;
    h1 {
      font-weight: 300;
      font-size: 6em;
      margin: 0em -0.15em 0 0;
    }

    p {
      margin: 0;
    }

    h3 {
      font-weight: 400;
      line-height: 1.4em;
      margin: 0.5em;
    }
  }

  .high-low {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-bottom: 0.5em;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6em;
    }

    svg {
      float: left;
      margin: 0;
      padding: 0;
      margin-right: 0.65em;
    }

    p {
      display: flex;
      flex-direction: column;
    }
  }

  .sun {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 9%;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 6em;
    }

    svg {
      margin-bottom: 0.5em;
    }

    .right-arrow {
      padding-top: 0.5em;
      cursor: pointer;
    }
  }

  .more-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    svg {
      margin: 1em;
    }

    .title {
      background-color: rgba(0,0,0,0.7);
      padding: 0.5em 0.5em 0.5em 0.5em;
      border-radius: 6px;
      display: inline-block;
      margin-bottom: 0.5em;
      margin-right: 1em;
      width: calc(50% - 2em);
      text-align: center;
    }

    .categories {
      padding: 0 2em;
    }
    .precipitation, .temperature {
      padding: 0.5em 1em;

      .precip-chance, .temp-chance {
        font-family: courier;
        margin: 0.75em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .precip-time, .temp-time {
          width: 3em;
          text-align: right;
        }

        .precip-bar, .rain, .temp-fill, .temp-bar {
          width: 60%;
          border-radius: 99em;
          height: 0.5em;
          background-color: rgba(0,0,0,0.7);
          margin-top: 0.35em;
        }

        .rain {
          margin-top: 0em;
          float: left;
        }

        .temp-fill {
          background-color: $accent;
          margin-top: 0em;
          float: left;
        }

        .precip-percent {
          width: 3em;
          text-align: left;
          &::after {
            content: '%';
          }
        }

        .temp-value {
          width: 3em;
          text-align: left;
          &::after {
            content: '°';
          }
        }
      }
    }
  }
}
